server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: e-commerce

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 5
      minimum-idle: 1
      idle-timeout: 30000
      max-lifetime: 600000

  flyway:
    enabled: true
    locations: classpath:db/migration
    # baseline-on-migrate: true

  security:
    user:
      name: none
      password: none

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

logging:
  level:
    org:
      flywaydb: DEBUG
      hibernate:
        SQL: DEBUG
